<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <div class="row">
    <div class="col-sm">
      <h2>*ngIf</h2>
      <div class="alert alert-primary" role="alert" **ngIf="mostrarMensaje">
        Mensaje
      </div>
      <div class="alert alert-secondary" role="alert" *ngIf="!mostrarMensaje">
        Hidde message
      </div>
      <button (click)="mostrarMensaje = !mostrarMensaje" type="button" class="btn btn-dark">Cambiar de mensaje</button>
    </div>
    <div class="col-sm">
      <h2>*ngFor</h2>
      <div>
        <ul class="list-group" *ngFor="let materia of materias; first as isFirst">
          <li [ngClass]=" isFirst ? 'list-group-item-active': 'list-group-item' " class="list-group-item">{{materia}}</li>
        </ul>
      </div>
    </div>

    <div class="col-sm">
      <h2>*ngSwitch</h2>
      <container-element [ngSwitch]="contador % 2">
        <div class="card"  *ngSwitchCase="0">
          <div class="card-body">
            Número par: {{contador}}
          </div>
        </div>

        <div class="card"  *ngSwitchCase="1">
          <div class="card-body">
            Número Impar: {{contador}}
          </div>
        </div>
      </container-element>
      <button (click) = "contador = contador+1" type="button" class="btn btn-dark"> Incrementar</button>
    </div>
  </div>

</body>

</html>